[Desktop Entry]
Type=Application
Name=Tracurle
Exec=Tracurle
Icon=dev.tenmin.Tracurle
Comment=Stunningly simple and beautiful. The ultimate music player to enjoy your local audio collection.
Comment[ja]=圧倒的にシンプルで美しい。あなたのローカル音源を最高に楽しめる音楽プレイヤー。
Comment[zh_CN]=极致简约，优雅动 听。尽情享受本地音频收藏的理想音乐播放器。
Comment[ru]=Потрясающе простой и красивый. Идеальный музыкальный проигрыватель для наслаждения вашей локальной аудиоколлекцией.
Comment[de]=Einfach und atemberaubend schön. Der ultimative Musikplayer, um deine lokale Audiosammlung in vollen Zügen zu genießen.
Comment[es]=Asombrosamente simple y hermoso. El reproductor de música definitivo para disfrutar de tu colección de audio local.
Comment[fr]=D'une simplicité et d'une beauté saisissantes. Le lecteur de musique ultime pour profiter pleinement de votre collection audio locale.
Comment[pt_BR]=Espantosamente simples e bonito. O player de música definitivo para você curtir sua coleção de áudio local.
Comment[ko]=압도적으로 심플하고 아름다운. 로컬 오디오 컬렉션을 가장 완벽하게 즐길 수 있는 음악 플레이어.
Comment[pl]=Niezwykle prosty i piękny. Idealny odtwarzacz muzyczny, aby w pełni cieszyć się lokalną kolekcją plików audio.
Comment[id]=Sangat sederhana dan indah. Pemutar musik terbaik untuk menikmati koleksi audio lokal Anda.
Comment[vi]=Đơn giản và đẹp mắt một cách ấn tượng. Trình phát nhạc đỉnh cao để bạn tận hưởng trọn vẹn bộ sưu tập âm thanh cục bộ của mình.
Categories=Audio;Music;Player;